.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecec86;
}

//панелька для проверки
.panel {
  position: absolute;
  top: 5px;
  left: 5px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  border-radius: 15px;

  & input {
    padding: 5px 10px;

    border: none;
  }
  & button {

    cursor: pointer;
  }
}